# Precinct-Level Election Returns

This is the MEDSL repository for precinct-level election returns. We periodically publish its contents to our [Dataverse](https://dataverse.harvard.edu/dataverse/medsl_election_returns) and [website](https://electionlab.mit.edu/data).

The `2016-precinct-*` directories contain returns organized by office (as on Dataverse):

* [U.S. President](https://github.com/MEDSL/precinct-returns/tree/master/2016-precinct-president)
* [U.S. Senate](https://github.com/MEDSL/precinct-returns/tree/master/2016-precinct-senate)
* [U.S. House](https://github.com/MEDSL/precinct-returns/tree/master/2016-precinct-house)
* [State offices](https://github.com/MEDSL/precinct-returns/tree/master/2016-precinct-state)
* [Local offices](https://github.com/MEDSL/precinct-returns/tree/master/2016-precinct-local)

Returns by state are in the `source` directory. These are alternative partitions of the same data.


# Coverage

| {{ "%-23s" | format('State') }} | {{ "%-10s" | format('Added') }} |
| {{ "-" * 23 }} | {{ "-" * 10 }} |
{% for k, v in dataset.coverage.items() -%}
| {{ "%-23s" | format(k|trim) }} | {% if v.included is defined %}{{ "%-10s" | format(v.date_added) }}{% else %}{{ ' ' * 10 }}{% endif %} |
{% endfor -%}
{% for k, v in dataset.coverage.items() %}


## {{ k|trim }}

{% if v.included %}Added {{ v.date_added|trim }}.{% else %}Not yet included.{% endif %}
{%- if v.notes is defined %}
{% for note in v.notes %}
  - {{ note|trim|wordwrap }}
{%- endfor -%}
{%- endif -%}
{%- endfor %}


# Codebook

Datasets contain the following variables:
{% for variable in variables %}
- `{{ variable.name|trim }}`
{%- endfor %}
{% for variable in variables %}

### {{ variable.name|trim }}

{{ variable.description|trim|wordwrap }}
{% if variable.note is defined %}
{{ variable.note|trim|wordwrap }}
{% endif %}
{%- if variable.source is defined %}
{{ "Source: {}".format(variable.source|trim|wordwrap) }}
{% endif %}
{%- endfor -%}
